<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Company</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body>

  <!-- Main Header -->
  <div id="web">
    <header>
      <nav aria-label="Global">
        <!-- Logo Section -->
        <div class="logo">
          <a href="#" class="logo">
            <img alt="Project Logo" src="image.png">
            <span>Evolution of Web Design</span>
          </a>
        </div>

        <div class="desktop-menu">
          <a href="#" class="axa1">Features</a>
          <a href="#" class="axa2">About Us</a>
          <a href="#" class="axa3">Contact Us</a>
        </div>


      </nav>
    </header>
  </div>

</body>
</html>
